.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.body h2 {
    color: #fade4b;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #1d1e1f;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.card:hover {
background-color: #414143;
    border: 1px solid rgb(179, 179, 152);}

.detalhes {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    padding: 20px;
    border-radius: 5px;
    z-index: 1000;
}

.detalhes-content {
    text-align: center;
}