
<div class="body">
    <div class="header">

       <div class="informacoes">
           <div class="info">
                <nav>
                    <ul>
                        <li><a href="https://www.instagram.com/jao.belar/"><i class="bi bi-instagram"></i></a></li>
                        <li><a href="https://github.com/JoaoPBTorres"><i class="bi bi-github"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/jo%C3%A3opedrotorres/"><i class="bi bi-linkedin"></i></a></li>
                    </ul>
                </nav>
           </div>

           <div class="logo">
               <img src="/assets/logo.png">
           </div>

           <div class="dev">
                <h2>FEITO POR JOÃO TORRES</h2>
           </div>
       </div>

       <app-nav-bar
        [mostrarDropdown]="mostrarDropdown"
        (onFiltrarPersonagem)="filtrarPersonagens($event)"
        (onSelecionarSecao)="selecionarSecao($event)"
        />
        
   </div>


    <main>
        @if (secaoAtiva === 'personagens') {

        <app-personagens

            [personagensFiltrados]="personagensFiltrados"
            (onSelecionarPersonagem)="selecionarPersonagem($event)"
            [personagemSelecionado]="personagemSelecionado"
            [abrirDetalhesPersonagem]="abrirDetalhesPersonagem"
            [filmesDoPersonagem]="filmesDoPersonagem"
        />
        } 

        @if (secaoAtiva === 'planetas') {
            <app-planetas
            [planetasOrdenados]="planetasOrdenados"
        />
        }

        @if (secaoAtiva === 'filmes') {
            <app-filmes
            (onOrdenarFilmesPorLancamento)="ordenarFilmesPorLancamento()"
            (onOrdenarFilmesPorCronologia)="ordenarFilmesPorCronologia()"
            [filmes]="filmes"

            />
        }
        
    </main>

    @if (!secaoAtiva) {
        <div class="inicio">

            <div class="frase">
                <h2 >"Eu estava esperando por você, Obi-Wan. Finalmente, nós nos encontramos de novo. O círculo está agora completo. Quando o deixei, eu era só o aprendiz; agora eu sou o mestre."</h2>
            </div>

            

            <div class="destaques">
                <div class="card-destaque">
                    <img src="/assets/posterIV.jpeg" alt="">
                    <p>Explore a galáxia e descubra os heróis e vilões de Star Wars!</p>
                </div>
                <div class="card-destaque">
                    <img src="/assets/posterV.jpeg" alt="">
                    <p>Viaje pelos planetas icônicos e conheça os mundos da saga!</p>
                </div>
                <div class="card-destaque">
                    <img src="/assets/posterVI.jpeg" alt="">
                    <p>Reviva cada momento épico da saga Star Wars!</p>
                </div>
            </div>

        </div>
    }
</div>