
<div class="body">
    <div class="header">

       <div>
           <div class="info">

           </div>

           <div class="logo">
               <img src="/assets/logo.png">
           </div>
       </div>

       <app-nav-bar
        [mostrarDropdown]="mostrarDropdown"
        (onFiltrarPersonagem)="filtrarPersonagens($event)"
        (onSelecionarSecao)="selecionarSecao($event)"
        />
        
   </div>


    <main>
        @if (secaoAtiva === 'personagens') {

        <app-personagens

            [personagensFiltrados]="personagensFiltrados"
            (onSelecionarPersonagem)="selecionarPersonagem($event)"
            [personagemSelecionado]="personagemSelecionado"
            [abrirDetalhesPersonagem]="abrirDetalhesPersonagem"
            [filmesDoPersonagem]="filmesDoPersonagem"
        />
        } 

        @if (secaoAtiva === 'planetas') {
            <app-planetas
            [planetasOrdenados]="planetasOrdenados"
        />
        }

        @if (secaoAtiva === 'filmes') {
            <app-filmes
            (onOrdenarFilmesPorLancamento)="ordenarFilmesPorLancamento()"
            (onOrdenarFilmesPorCronologia)="ordenarFilmesPorCronologia()"
            [filmes]="filmes"

            />
        }
        
    </main>

    @if (!secaoAtiva) {
        <p>nenhuma sessão ativa</p>
    }
</div>