<div class="body">
    <h2>"Luke, você pode destruir o Imperador. Ele previu isso. É o seu destino. Junte-se a mim, e juntos podemos governar a galáxia como pai e filho."</h2>
    <div>
        <button (click)="onOrdenarFilmesPorLancamento.emit()">Ordenar por Lançamento</button>
        <button (click)="onOrdenarFilmesPorCronologia.emit()">Ordenar por Cronologia</button>
    </div>
    <div class="container">
        <div class="card" *ngFor="let filme of filmes">
            <p><strong>Título:</strong> {{ filme.title }}</p>
            <p><strong>Episódio:</strong> {{ filme.episode_id }}</p>
            <p><strong>Data de Lançamento:</strong> {{ filme.release_date }}</p>
        </div>
    </div>
</div>