<!-- Seção de Personagens -->
<div class="personagens" >
    <p>personagens works!</p>
           
    <div class="container">
        <div class="card" *ngFor="let personagem of personagensFiltrados.slice(0, 10)" (click)="onSelecionarPersonagem.emit(personagem)">
            <p>{{ personagem.name }}</p>

        </div>
    </div>
    

    <div class="detalhes" *ngIf="abrirDetalhesPersonagem">
        <div class="detalhes-content">
            <h2>{{ personagemSelecionado.name }}</h2>
            <p><strong>Altura:</strong> {{ personagemSelecionado.height }} cm</p>
            <p><strong>Peso:</strong> {{ personagemSelecionado.mass }} kg</p>
            <p><strong>Ano de nascimento:</strong> {{ personagemSelecionado.birth_year }}</p>
            <p><strong>Gênero:</strong> {{ personagemSelecionado.gender }}</p>

            <h3>Filmes:</h3>
            <ul>
                <li *ngFor="let filme of filmesDoPersonagem">{{ filme }}</li>
            </ul>
        </div>
    </div>
</div>